.body {
  height: 100vh;
}
.homepage {
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.nameShop {
  position: fixed;
  width: 100%;
}
/* header */
header {
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  color: white;
}
.headerr {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
}
.header_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.cyber {
  font-size: 25px;
}
.cyber i {
  font-size: 35px;
}
.cyber p {
  margin-bottom: 5px;
  margin-left: 15px;
}
.home,
.store,
.header_end {
  margin-left: 150px;
  font-size: 25px;
}
.home i,
.store i,
.header_end i {
  font-size: 30px;
  margin-top: 10px;
}

/* cyberbody */
.phone_management {
  border: 1px solid red;
  text-align: center;
  background-color: #60679b;
  border-radius: 10px 10px 0 0;
}
.phone p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.addphone {
  height: 100%;
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;
}
.addphone i {
  margin-right: 10px;
}

/* .all {
  margin-right: 50px;
} */
.phone_title {
  margin-right: 15px;
}
/* model */

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#btnThem i {
  margin-top: 4px;
  margin-right: 5px;
}

.rounded {
  width: 30%;
}
.btn-home{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-home:hover{
  text-decoration: none;
  color: white;
}